body {

    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}

#head {

    margin:0px;
    padding:0px;
    background-size:cover;

}

#lisbon {

    position:absolute;
    background-image:url("../resources/lisbonSprite.png");
    z-index: 0;
    background-position: 0px 0px;
    background-repeat:no-repeat;

}

.menuItem {

    color:#ebebeb;
    line-height:70px;
    vertical-align:center;
    padding-top:22px;
    padding-bottom:22px;
    padding-right:45px;
    padding-left:45px;
    font-weight:300;
    font-size:20px;

}

.menuItem:hover {

    animation-name: menuBackground;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    cursor:pointer;
    text-decoration:underline;

}

@-moz-keyframes menuBackground {
    
    from {}
    to {background-color:rgba(255, 255, 255,0.15);}
    
}

@-webkit-keyframes menuBackground {
    
    from {}
    to {background-color:rgba(255, 255, 255,0.15);}
    
}

@keyframes menuBackground {

    from {}
    to {background-color:rgba(255, 255, 255,0.15);}

}

@-moz-keyframes pageLoad {
    
    from {opacity: 0}
    to {opacity: 1}
    
}

@-webkit-keyframes pageLoad {
    
    from {opacity: 0}
    to {opacity: 1}
    
}

@keyframes pageLoad {

    from {opacity: 0}
    to {opacity: 1}

}

@-moz-keyframes opacityChanger {
    
    from {opacity: 0.2}
    to {opacity: 0.6}
    
}

@-webkit-keyframes opacityChanger {
    
    from {opacity: 0.2}
    to {opacity: 0.6}
    
}

@keyframes opacityChanger {

    from {opacity: 0.2}
    to {opacity: 0.6}

}

#top-menu {
    
    display:none;
    height:70px;
    position:absolute;
    margin-top:50px;
    width:677px;
    animation-name: pageLoad;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    z-index: 6;
    
}

#center-text {

    color:#ebebeb;
    position:absolute;
    width:100%;
    text-align:center;
    animation-name: pageLoad;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    z-index:0;

}

#hello-world {

    padding:0;
    margin:0;
    font-weight:300;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.8);
    vertical-align: center;

}

#previous {

    position:absolute;
    width:50px;
    height:100px;
    opacity:0.2;
    margin-left:15px;
    z-index:1;

}

#previous:hover {
    
    animation-name: opacityChanger;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    cursor:pointer;
    
}

#next {

    position:absolute;
    width:50px;
    height:100px;
    opacity:0.2;
    z-index:2;

}

#next:hover {

    animation-name: opacityChanger;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    cursor:pointer;

}

#bullets {

    position:absolute;

}

#photos-credit {

    text-decoration:none;
    color: #ebebeb;
    position:absolute;
    left:5px;
    opacity:0.2;

}

#photos-credit:hover {

    animation-name: opacityChanger;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    cursor:pointer;

}


#project-container {

    height:1000px;
    background-color:#ececec;
    position:absolute;

}

#project-one {

    background-color:#e6e6e6;
    border-radius:2px;
    height:619px;
    position:absolute;
    transition: border 1s;
    -webkit-transition: border 0.5s;
    border:1px solid transparent;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;

}

#project-two {

    background-color:#e6e6e6;
    border-radius:2px;
    border:1px solid rgba('0,0,0,0.2');
    height:619px;
    position:absolute;
    transition: border 1s;
    -webkit-transition: border 0.5s;
    border:1px solid transparent;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;

}

#project-three {

    background-color:#e6e6e6;
    border-radius:2px;
    border:1px solid rgba('0,0,0,0.2');
    height:619px;
    position:absolute;
    transition: border 1s;
    -webkit-transition: border 0.5s;
    border:1px solid transparent;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;

}

#project-one:hover {

    border:1px solid #66ceff;
    transition: border 1s;
    cursor:pointer;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;

}

#project-two:hover {

    border:1px solid #ffdd66;
    transition: border 1s;
    cursor:pointer;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;

}

#project-three:hover {

    border:1px solid #71ff66;
    transition: border 1s;
    cursor:pointer;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;

}

#stock-1 {

    border-radius:2px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;

}

#stock-2 {

    border-radius:2px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;

}

#stock-3 {

    border-radius:2px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;

}

hr {

    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    opacity:0.2;

}

#tutorials-section {

    height:1000px;
    position:absolute;
    background-color:black;

}

#tutorial-one {

    position:absolute;
    background-image:url("../resources/tile-1.jpg");
    background-size:contain;
    background-repeat:no-repeat;

}

#tutorial-two {

    position:absolute;
    background-image:url("../resources/tile-2.jpg");
    background-size:contain;
    background-repeat:no-repeat;

}

#tutorial-three {

    position:absolute;
    background-image:url("../resources/tile-3.jpg");
    background-size:contain;
    background-repeat:no-repeat;

}

#tutorial-four {

    background-image: url("../resources/tile-4.png");
    position: absolute;
    background-size:contain;
    background-repeat:no-repeat;

}
